<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Mi Broker</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/css/styles.min.css">
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/chart.min.js"></script>
    <script src="/js/script.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg navigation-clean-button">
        <div class="container"><a class="navbar-brand" href="#">Mi Broker</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" href="/clientes">Clientes</a></li>
                    <li class="nav-item"><a class="nav-link active" href="#">Gráficos</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="card">
        <div class="card-body">
            <h4 class="text-center card-title">Temperatura</h4>
            <h6 class="text-muted card-subtitle mb-2">Actualizando, por favor espere</h6>
            <canvas class="my-4" id="chart" width="900" height="380"></canvas>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h4 class="text-center card-title">Humedad</h4>
            <h6 class="text-muted card-subtitle mb-2">Actualizando, por favor espere</h6>
            <canvas class="my-4" id="humedad" width="900" height="380"></canvas>
        </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
feather.replace()
</script>

    <!-- Graphs -->
    <script src="/echarts.min.js"></script>
    <script>

    let chartTemperatura, chartHumedad;
    let dataTemperatura = [], dataHumedad = [];
    let ejeXTemperatura = [], ejeXHumedad = [];
    let dataTemperatura2 = [], dataHumedad2 = [];
    let ejeXTemperatura2 = [], ejeXHumedad2 = [];
    let webSocket;
    let tiempoReconectar = 5000;

    $(document).ready(function () {

        grafico1();

        grafico2();
    });

    function grafico1() {

        let option;
        option = {
            title: {
                text: 'Temperatura'
            },
            tooltip: {
                trigger: 'axis',
                // formatter: function (params) {
                //
                //     // console.log(params);
                //     return params[0].axisValue + ' ' + params[0].value[1];
                // }


            },
            xAxis: {
                type: 'category',
                data: ejeXTemperatura,
                splitLine: {
                    show: false
                }
            },
            yAxis: {
                type: 'value',
                boundaryGap: [0, '100%'],
                splitLine: {
                    show: false
                }
            },
            series: [{
                data: [0],
                type: 'line',
                hoverAnimation: false,
            },
            {
                data: [1],
                type: 'line',
                hoverAnimation: false,
            }],


        };

        chartTemperatura = echarts.init(document.getElementById("chart"));
        chartTemperatura.setOption(option);

    }

    function grafico2() {

        let option;
        option = {
            title: {
                text: 'Humedad'
            },
            tooltip: {
                trigger: 'axis',


            },
            xAxis: {
                type: 'category',
                data: ejeXHumedad,
                splitLine: {
                    show: false
                }
            },
            yAxis: {
                type: 'value',
                boundaryGap: [0, '100%'],
                splitLine: {
                    show: false
                }
            },
            series: [{
                data: [0],
                type: 'line',
                hoverAnimation: false,
            },
            {
                data: [1],
                type: 'line',
                hoverAnimation: false,
            }],


        };

        chartHumedad = echarts.init(document.getElementById("humedad"));
        chartHumedad.setOption(option);

    }

    function nuevoValor(datos) {

        let nuevo = JSON.parse(datos);
        //console.log(nuevo[0].temperatura);
        //console.log(nuevo[1].temperatura);
        if(nuevo[0].clientesActuales < 2){
            dataTemperatura.push(nuevo[0].temperatura);
            dataHumedad.push(nuevo[0].humedad);

            ejeXTemperatura.push(nuevo[0].fechaGeneracion);
            ejeXHumedad.push(nuevo[0].fechaGeneracion);

            chartTemperatura.setOption({
                xAxis: {
                    data: ejeXTemperatura
                },

                series: [{
                    data: dataTemperatura
                }]

            });

            chartHumedad.setOption({
                xAxis: {
                    data: ejeXHumedad
                },

                series: [{
                    data: dataHumedad
                }]

            });

        }else{
            var sublista1, sublista2, sublista3, sublista4;
            if(nuevo[1].idDispositivo == 0) {
                sublista1 = nuevo[1].temperatura;
                sublista2 = nuevo[1].humedad;

            }
            if(nuevo[0].idDispositivo == 1) {
                sublista3 = nuevo[0].temperatura;
                sublista4 = nuevo[0].humedad;
            }
            dataTemperatura.push(sublista1);
            dataHumedad.push(sublista2);
            dataTemperatura2.push(sublista3);
            dataHumedad2.push(sublista4);
            ejeXTemperatura.push(nuevo[0].fechaGeneracion);
            ejeXHumedad.push(nuevo[0].fechaGeneracion);

            chartTemperatura.setOption({
                xAxis: {
                    data: ejeXTemperatura
                },

                series: [{
                    data: dataTemperatura
                },
                {
                    data: dataTemperatura2
                }]

            });

            chartHumedad.setOption({
                xAxis: {
                    data: ejeXHumedad
                },

                series: [{
                    data: dataHumedad
                },
                {
                    data: dataHumedad2
                }]

            });

        }
    }


    function conectar() {
        webSocket = new SockJS('/graficos-websocket');
        // Conectarse al socket
        stompClient = Stomp.over(webSocket);
        stompClient.connect({}, function (frame) {
            //setConnected(true);
            console.log('Connected: ' + frame);
            stompClient.subscribe('/topic/graficos', function (greeting) {
                nuevoValor(greeting.body);
                //alert(greeting.body);
            });
        });
    }

    function verificarConexion() {
        if (!webSocket || webSocket.readyState === 3) {
            conectar();
        }
    }

    setInterval(verificarConexion, tiempoReconectar);

</script>
</body>
</html>